@import "../../../scss/base-components";

.masthead {
  height: 100vh;
  margin-top: -#{$navbar-height};
  min-height: 500px;
  background-image: url('/src/assets/images/HomepageHero.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .container {
    .row {
      .col-12 {
        color: #D9FCC6;
        margin-bottom: 10px;
        @include media-breakpoint-up(sm) {
          margin-bottom: 60px;
        }
      }
    }
  }
}