@import "../../../scss/base-components";


footer {
  section {

    .footer-contact {
      font-family: $font-family-aqala-display;
      font-size: 3rem;
      padding-block-end: 2rem;
    }
    .footer-copyright {
      color: $mid-dark-green;
      font-size: 45px;
      font-family: $font-family-aqala-display;
    }
    .footer-logo {
      width: 150px;
    }
  }
}