
// We are not using the roboto-condensed-regular
@font-face {
  font-family: "aqala-display";
  font-style: normal;
  font-weight: normal;
  src: url("/Aqala-display.ttf") format("truetype");
}
@font-face {
  font-family: "svarga-regular";
  font-style: normal;
  font-weight: normal;
  src: url("/Svarga-Regular.otf") format("opentype");
}