@import "../../../scss/base-components";

.masthead {
  height: 100vh;
  margin-top: -#{$navbar-height};
  min-height: 500px;
  background-image: url('/src/assets/images/masthead2500.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .container {
    .row {
      .col-12 {
        color: $primary;
        margin-bottom: 10px;
        @include media-breakpoint-up(sm) {
          margin-bottom: 60px;
        }
        h1 {
          //font-size: 200px;
          //font-weight: bold;
        }
        .lead {
          //font-size: 60px;
        }
      }
    }
  }
}